@import './var.scss';

@mixin colorBtn($color){
    background: $color;

    &:hover{
        color: $color;

        &:before,&:after{
            background: $color;
        }
    }
}

.blue-btn{
    @include colorBtn($blue);
}
.light-blue-btn{
    @include colorBtn($light-blue);
}